<%# /courses %>
<br>
<div class="center-align">
  <%= link_to "Create new course", new_course_url, class: 'p-button ml-st' %>
  <hr style="width:60%">
<div>

<div class="container-fluid">
  <div class="row">
      <%= render @courses %>
  </div>
</div>
