<%# /courses/:id/posts/:id/edit %>

<div class="page">
  <h1>Edit Post for <%= link_to @course.title, course_path(@course), class: "purple" %></h1>
  <hr style="width:50%">
  <div id="delete-post" class="right-align">
    <%= button_to "Delete Post", course_post_path(@course, @post), method: :delete, class: "danger"%>
  </div>
  <%= render "post_form" %>
</div>