// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HOMEPAGE CSS HERE

body {
  background: #f4f4f4;
}

.card-body {
  background: white;
}

#register-home {
  padding: 10px;
  border: none;
}

#register-home:hover {
  background: white;
  color: #6c63ff;
  border: none;
}